<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Animated Striped bar {{ percent1 }}</h4>
                <div class="progress m-t-20">
                    <div    class="progress-bar bg-primary progress-bar-striped active"
                            style="height:7px;"
                            [style.width]="getPercent1"
                            role="progressbar">
                    </div>
                </div>
                <div class="progress m-t-20">
                    <div    class="progress-bar bg-info progress-bar-striped active"
                            style="height:7px;"
                            [style.width]="getPercent2"
                            role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser (output_value)="percent1 = $event" [value]="percent1"></app-increaser>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser (output_value)="percent2 = $event" [value]="percent2" [btnClass]="'btn-info'"></app-increaser>
            </div>
        </div>
    </div>
</div>